html {
    box-sizing: border-box;
  }
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    text-align: center;
}

.garlic-bread {
    background-color: rgb(219, 204, 136);
}

.noodle-soup {
    background-color: rgb(239, 241, 107);
}

.shakshuka {
    background-color: rgb(214, 155, 66);
}

.recipe-entries {
  display: flex;
  background-color: aliceblue;
  gap: 16px;
  justify-content: space-evenly;
}

.entry {
  display: flex;
  border: 2px solid black;
  flex-direction: column;
  width: 200px;
}

.link {
  align-self: center;
}
