html {
    box-sizing: border-box;
  }
*,
*::before,
*::after {
    box-sizing: inherit;
}

.title {
    text-align: center;
}

.garlic-bread {
    background-color: rgb(219, 204, 136);
}

.noodle-soup {
    background-color: rgb(239, 241, 107);
}

.shakshuka {
    background-color: rgb(214, 155, 66);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.recipes-entries {
  display: flex;
  justify-content: center;
}

.entry {
  background-color: blanchedalmond;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
  border: 2px solid black;
  margin: 16px;
}

.entry-display {
  width: 200px;
  margin-top: 8px;
}
